<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.chenke.componentone">

    <application>
        <activity android:name=".IndexKt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ArticleDetailActivity" />
        <activity android:name=".fragment.OneComponentArticleDeatailFragment"></activity>
    </application>

</manifest>